[Unit]
Description=Mobile Alerts Weekly Report Generator
Requires=mqtt-report.timer

[Service]
User=raspiroman
WorkingDirectory=/home/raspiroman/project/sensorLogger

# Befehl zum Ausführen des Berichtsgenerators.
ExecStart=/usr/bin/python3 /home/raspiroman/project/sensorLogger/report_generator.py

# Standardausgabe (console.log) an das Systemd Journal senden.
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target